.header{
    width: 50%; height: auto;
    .content{
        color: red;
        .img{
            width: 100%;
            height: auto;
            border: 1px solid black;
        }
    }
}