.header {
    padding: 10px;
    font-size: 30px;

    .content {
        color: rgb(55, 10, 219);

        img {
            width: 10%;
            border: 1px solid black;
        }
    }
}
